* {
    box-sizing: border-box;
}

html {
    background-color: #f4f4f4;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #cccccc #f9f9f9;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}
